{% extends 'back/_base.html' %} {% load static i18n %} {% block mainbread %}
<ul class="nav navbar-nav bookmark-icons">
  <div class="d-flex main-bread">
    <h5 class="content-header-title float-left pr-1 mb-0">
      {% trans 'Formalar' %}
    </h5>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item">
          <a href="{% url 'index-admin' %}"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'vacancy:form-list' %}"
            >{% trans 'Barcha Formalar' %}</a
          >
        </li>
        <li class="breadcrumb-item active">{% trans 'Yangi' %}</li>
      </ol>
    </div>
  </div>
</ul>
{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/vue-ctk-date-time-picker.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/vue2-editor.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/katex.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/monokai-sublime.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/css/quill.snow.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/css/quill.imageUploader.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/css/main-editor.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'back/app-assets/vendors/css/ui/prism.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'back/app-assets/vendors/css/file-uploaders/dropzone.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'back/app-assets/css/plugins/file-uploaders/dropzone.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/filepond.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'back/app-assets/vendors/css/filepond-plugin-image-preview.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'back/app-assets/vendors/css/forms/select/select2.min.css' %}"
/>
{% endblock %} {% block body %} {% include 'back/parts/menu.html' %}
<!-- BEGIN: Content-->
<div class="app-content content" id="app">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <!-- app invoice View Page -->
      {% verbatim %}
      <form v-on:submit.prevent="checkForm">
        <section class="invoice-edit-wrapper">
          <div class="row">
            <!-- invoice view page -->
            <div class="col-xl-8 col-md-8 col-12 mt-3">
              <div class="card">
                <!-- <div class="card-header">
                  <h4 class="card-title" style="text-transform: inherit">
                    Forma
                  </h4>
                </div> -->
                <div class="card-content">
                  <div class="card-body pb-0 mx-25 mt-3">
                    <h4>Forma</h4>

                    <div class="row invoice-info">
                      <div class="col-lg-12 col-md-12">
                        <fieldset class="invoice-address form-group">
                          <input
                            type="text"
                            v-model="form.title"
                            class="form-control"
                            required
                            placeholder="Forma nomini kiriting"
                            name="title"
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="row invoice-info">
                      <div class="col-lg-12 col-md-12">
                        <fieldset class="invoice-address form-group">
                          <label for="basicInput">Lavozimlar</label>
                          <vue-multiselect
                            v-model="form.positions"
                            selectLabel="Tanlash uchun ENTER tugmasini bosing."
                            selectedLabel="Tanlangan"
                            deselectLabel="O'chirish uchun ENTER tugmasini bosing"
                            placeholder="Lavozimni tanlang"
                            label="title"
                            track-by="id"
                            :options="positions"
                            :multiple="true"
                          ></vue-multiselect>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- START: TA'LIM -->
              <div class="card">
                <div class="card-body">
                  <h4>Ta'lim</h4>
                  <b-card
                    v-for="(item,index) in form.fields"
                    :key="index"
                    v-if="item.step==2"
                  >
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <div class="row">
                          <div class="col-8">
                            <fieldset class="invoice-address form-group">
                              <label for="basicInput">Turi</label>
                              <select
                                v-model="item.field_type"
                                class="form-control"
                                required
                              >
                                <option value="">Shaklini tanlang</option>
                                <option value="1">Text</option>
                                <option value="2">Email</option>
                                <option value="3">Textarea</option>
                                <option value="4">Sana</option>
                                <option value="5">Select</option>
                                <option value="6">File</option>
                                <option value="7">Radio</option>
                                <option value="8">Checkbox</option>
                                <option value="9">Checkbox va Textarea</option>
                                <option value="10">Checkbox va Fayl</option>
                              </select>
                            </fieldset>
                          </div>
                          <div
                            class="col-2 d-flex align-self-center flex-column"
                          >
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.required"
                                switch
                                size="lg"
                                >Majburiy</b-form-checkbox
                              >
                            </fieldset>
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.toggle"
                                switch
                                size="lg"
                                >Toggle</b-form-checkbox
                              >
                            </fieldset>
                          </div>
                          <div
                            class="
                              col-2
                              d-flex
                              align-self-center
                              flex-row-reverse
                            "
                          >
                            <div
                              @click="form.fields.splice(index, 1)"
                              class="btn btn-danger"
                            >
                              <b-icon icon="trash-fill"></b-icon>
                            </div>
                          </div>
                        </div>
                        <b-card no-body>
                          <b-tabs pills card>
                            <b-tab title="O‘zbekcha" active>
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[UZ] nomi</label>
                                    <input
                                      v-model="item.title_uz"
                                      :name="`step2_title_uz${index}`"
                                      type="text"
                                      class="form-control"
                                      required
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[UZ] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_uz"
                                      :name="`step2_placeholder_uz${index}`"
                                      class="form-control"
                                      required
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="Русский">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[RU] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_ru"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[RU] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_ru"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="English">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[EN] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_en"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[EN] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_en"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                          </b-tabs>
                        </b-card>
                        <div
                          class="row"
                          v-if="item.field_type == 5 || item.field_type == 7 || item.field_type == 8 || item.field_type == 9 || item.field_type == 10"
                        >
                          <h3>Variantlar</h3>
                          <div class="col-12">
                            <div
                              class="row"
                              v-for="(option, option_index) in item.options"
                            >
                              <div class="col-11">
                                <b-card no-body>
                                  <b-tabs pills card>
                                    <b-tab title="O‘zbekcha" active>
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[UZ] nomi</label>
                                            <input
                                              v-model="option.title_uz"
                                              type="text"
                                              class="form-control"
                                              required
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="Русский">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[RU] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_ru"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="English">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[EN] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_en"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                  </b-tabs>
                                </b-card>
                              </div>
                              <div
                                class="
                                  col-1
                                  d-flex
                                  align-self-center
                                  flex-row-reverse
                                "
                              >
                                <div
                                  @click="item.options.splice(option_index, 1)"
                                  class="btn btn-danger"
                                >
                                  <b-icon icon="trash-fill"></b-icon>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex flex-row-reverse">
                                <div
                                  @click="item.options.push({
                                      title_uz: '',
                                      title_ru: '',
                                      title_en: ''
                              },)"
                                  class="btn btn-primary"
                                >
                                  <b-icon icon="plus"></b-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-card>
                  <div class="row">
                    <div class="col-12 d-flex flex-row-reverse">
                      <div
                        @click="form.fields.push({
                        title_uz: '',
                        title_ru: '',
                        title_en: '',
                        placeholder_uz: '',
                        placeholder_ru: '',
                        placeholder_en: '',
                        field_type: 1,
                        required: false,
                        toggle: false,
                        step: 2,
                        options: [
                        ]
                    },)"
                        class="btn btn-primary"
                      >
                        <b-icon icon="plus"></b-icon>Yangi qo'shish
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: TA'LIM -->
              <!-- START: ILMIY -->
              <div class="card">
                <div class="card-body">
                  <h4>Ilmiy</h4>
                  <b-card
                    v-for="(item,index) in form.fields"
                    :key="index"
                    v-if="item.step==3"
                  >
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <div class="row">
                          <div class="col-8">
                            <fieldset class="invoice-address form-group">
                              <label for="basicInput">Turi</label>
                              <select
                                v-model="item.field_type"
                                class="form-control"
                                required
                              >
                                <option value="">Shaklini tanlang</option>
                                <option value="1">Text</option>
                                <option value="2">Email</option>
                                <option value="3">Textarea</option>
                                <option value="4">Sana</option>
                                <option value="5">Select</option>
                                <option value="6">File</option>
                                <option value="7">Radio</option>
                                <option value="8">Checkbox</option>
                                <option value="9">Checkbox va Textarea</option>
                                <option value="10">Checkbox va Fayl</option>
                              </select>
                            </fieldset>
                          </div>
                          <div
                            class="col-2 d-flex align-self-center flex-column"
                          >
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.required"
                                switch
                                size="lg"
                                >Majburiy</b-form-checkbox
                              >
                            </fieldset>
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.toggle"
                                switch
                                size="lg"
                                >Toggle</b-form-checkbox
                              >
                            </fieldset>
                          </div>
                          <div
                            class="
                              col-2
                              d-flex
                              align-self-center
                              flex-row-reverse
                            "
                          >
                            <div
                              @click="form.fields.splice(index, 1)"
                              class="btn btn-danger"
                            >
                              <b-icon icon="trash-fill"></b-icon>
                            </div>
                          </div>
                        </div>
                        <b-card no-body>
                          <b-tabs pills card>
                            <b-tab title="O‘zbekcha" active>
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[UZ] nomi</label>
                                    <input
                                      v-model="item.title_uz"
                                      :name="`step2_title_uz${index}`"
                                      type="text"
                                      class="form-control"
                                      required
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[UZ] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_uz"
                                      :name="`step2_placeholder_uz${index}`"
                                      class="form-control"
                                      required
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="Русский">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[RU] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_ru"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[RU] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_ru"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="English">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[EN] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_en"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[EN] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_en"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                          </b-tabs>
                        </b-card>
                        <div
                          class="row"
                          v-if="item.field_type == 5 || item.field_type == 7 || item.field_type == 8 || item.field_type == 9 || item.field_type == 10"
                        >
                          <h3>Variantlar</h3>
                          <div class="col-12">
                            <div
                              class="row"
                              v-for="(option, option_index) in item.options"
                            >
                              <div class="col-11">
                                <b-card no-body>
                                  <b-tabs pills card>
                                    <b-tab title="O‘zbekcha" active>
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[UZ] nomi</label>
                                            <input
                                              v-model="option.title_uz"
                                              type="text"
                                              class="form-control"
                                              required
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="Русский">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[RU] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_ru"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="English">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[EN] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_en"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                  </b-tabs>
                                </b-card>
                              </div>
                              <div
                                class="
                                  col-1
                                  d-flex
                                  align-self-center
                                  flex-row-reverse
                                "
                              >
                                <div
                                  @click="item.options.splice(option_index, 1)"
                                  class="btn btn-danger"
                                >
                                  <b-icon icon="trash-fill"></b-icon>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex flex-row-reverse">
                                <div
                                  @click="item.options.push({
                                              title_uz: '',
                                              title_ru: '',
                                              title_en: ''
                                      },)"
                                  class="btn btn-primary"
                                >
                                  <b-icon icon="plus"></b-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-card>
                  <div class="row">
                    <div class="col-12 d-flex flex-row-reverse">
                      <div
                        @click="form.fields.push({
                                title_uz: '',
                                title_ru: '',
                                title_en: '',
                                placeholder_uz: '',
                                placeholder_ru: '',
                                placeholder_en: '',
                                field_type: 1,
                                required: false,
                                toggle: false,
                                step: 3,
                                options: [
                                ]
                            },)"
                        class="btn btn-primary"
                      >
                        <b-icon icon="plus"></b-icon>Yangi qo'shish
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: ILMIY -->
              <!-- START: MAHORAT -->
              <div class="card">
                <div class="card-body">
                  <h4>Mahorat</h4>
                  <b-card
                    v-for="(item,index) in form.fields"
                    :key="index"
                    v-if="item.step==4"
                  >
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <div class="row">
                          <div class="col-8">
                            <fieldset class="invoice-address form-group">
                              <label for="basicInput">Turi</label>
                              <select
                                v-model="item.field_type"
                                class="form-control"
                                required
                              >
                                <option value="">Shaklini tanlang</option>
                                <option value="1">Text</option>
                                <option value="2">Email</option>
                                <option value="3">Textarea</option>
                                <option value="4">Sana</option>
                                <option value="5">Select</option>
                                <option value="6">File</option>
                                <option value="7">Radio</option>
                                <option value="8">Checkbox</option>
                                <option value="9">Checkbox va Textarea</option>
                                <option value="10">Checkbox va Fayl</option>
                              </select>
                            </fieldset>
                          </div>
                          <div
                            class="col-2 d-flex align-self-center flex-column"
                          >
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.required"
                                switch
                                size="lg"
                                >Majburiy</b-form-checkbox
                              >
                            </fieldset>
                            <fieldset>
                              <b-form-checkbox
                                v-model="item.toggle"
                                switch
                                size="lg"
                                >Toggle</b-form-checkbox
                              >
                            </fieldset>
                          </div>
                          <div
                            class="
                              col-2
                              d-flex
                              align-self-center
                              flex-row-reverse
                            "
                          >
                            <div
                              @click="form.fields.splice(index, 1)"
                              class="btn btn-danger"
                            >
                              <b-icon icon="trash-fill"></b-icon>
                            </div>
                          </div>
                        </div>
                        <b-card no-body>
                          <b-tabs pills card>
                            <b-tab title="O‘zbekcha" active>
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[UZ] nomi</label>
                                    <input
                                      v-model="item.title_uz"
                                      :name="`step2_title_uz${index}`"
                                      type="text"
                                      class="form-control"
                                      required
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[UZ] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_uz"
                                      :name="`step2_placeholder_uz${index}`"
                                      class="form-control"
                                      required
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="Русский">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[RU] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_ru"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[RU] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_ru"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                            <b-tab title="English">
                              <div class="row invoice-info">
                                <div class="col-lg-12 col-md-12">
                                  <fieldset class="invoice-address form-group">
                                    <label>[EN] nomi</label>
                                    <input
                                      type="text"
                                      v-model="item.title_en"
                                      class="form-control"
                                      placeholder="Nomini kiriting"
                                    />
                                  </fieldset>
                                  <fieldset
                                    v-if="item.field_type !=4 && item.field_type != 8 && item.field_type != 7"
                                    class="invoice-address form-group"
                                  >
                                    <label>[EN] Placeholder</label>
                                    <input
                                      type="text"
                                      v-model="item.placeholder_en"
                                      class="form-control"
                                      placeholder="Placeholderni kiriting"
                                    />
                                  </fieldset>
                                </div></div
                            ></b-tab>
                          </b-tabs>
                        </b-card>
                        <div
                          class="row"
                          v-if="item.field_type == 5 || item.field_type == 7 || item.field_type == 8 || item.field_type == 9 || item.field_type == 10"
                        >
                          <h3>Variantlar</h3>
                          <div class="col-12">
                            <div
                              class="row"
                              v-for="(option, option_index) in item.options"
                            >
                              <div class="col-11">
                                <b-card no-body>
                                  <b-tabs pills card>
                                    <b-tab title="O‘zbekcha" active>
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[UZ] nomi</label>
                                            <input
                                              v-model="option.title_uz"
                                              type="text"
                                              class="form-control"
                                              required
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="Русский">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[RU] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_ru"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                    <b-tab title="English">
                                      <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-12">
                                          <fieldset
                                            class="invoice-address form-group"
                                          >
                                            <label>[EN] nomi</label>
                                            <input
                                              type="text"
                                              v-model="option.title_en"
                                              class="form-control"
                                              placeholder="Nomini kiriting"
                                            />
                                          </fieldset>
                                        </div></div
                                    ></b-tab>
                                  </b-tabs>
                                </b-card>
                              </div>
                              <div
                                class="
                                  col-1
                                  d-flex
                                  align-self-center
                                  flex-row-reverse
                                "
                              >
                                <div
                                  @click="item.options.splice(option_index, 1)"
                                  class="btn btn-danger"
                                >
                                  <b-icon icon="trash-fill"></b-icon>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 d-flex flex-row-reverse">
                                <div
                                  @click="item.options.push({
                                                            title_uz: '',
                                                            title_ru: '',
                                                            title_en: ''
                                                    },)"
                                  class="btn btn-primary"
                                >
                                  <b-icon icon="plus"></b-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-card>
                  <div class="row">
                    <div class="col-12 d-flex flex-row-reverse">
                      <div
                        @click="form.fields.push({
                                              title_uz: '',
                                              title_ru: '',
                                              title_en: '',
                                              placeholder_uz: '',
                                              placeholder_ru: '',
                                              placeholder_en: '',
                                              field_type: 1,
                                              required: false,
                                              toggle: false,
                                              step: 4,
                                              options: [
                                              ]
                                          },)"
                        class="btn btn-primary"
                      >
                        <b-icon icon="plus"></b-icon>Yangi qo'shish
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: MAHORAT -->
            </div>

            <div class="col-xl-4 col-md-4 col-12 pt-4">
              <div class="card invoice-action-wrapper shadow-none border">
                <div class="card-body">
                  <div class="invoice-action-btn mb-1">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block invoice-send-btn"
                    >
                      <i class="bx bxs-save"></i>
                      <span>Saqlash</span>
                    </button>
                  </div>
                  <div class="invoice-action-btn mb-1">
                    <div class="save">
                      {% endverbatim %}
                      <a
                        href="{% url 'vacancy:form-list' %}"
                        class="btn btn-light-danger btn-block"
                      >
                        <span class="text-nowrap">O‘chirish</span>
                      </a>
                      {% verbatim %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
      {% endverbatim %}
    </div>
  </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
{% endblock %} {% block js %}
<script src="{% static 'back/app-assets/vendors/js/filepond-plugin-image-preview.js' %}"></script>
<script src="{% static 'back/app-assets/vendors/js/filepond.js' %}"></script>
<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="{% static 'back/app-assets/js/vue.js' %}"></script>
<script src="{% static 'back/app-assets/vendors/js/vue-ctk-date-time-picker.umd.js' %}"></script>
<script src="{% static 'back/app-assets/vendors/js/katex.min.js' %}"></script>
<script src="{% static 'back/app-assets/vendors/js/highlight.min.js' %}"></script>
<script src="{% static 'back/app-assets/vendors/js/quill.imageUploader.min.js' %}"></script>
<!-- Quill JS Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>
<!-- Include stylesheet -->
<style>
  .custom-control-label {
    width: 100% !important;
    text-transform: initial !important;
  }
</style>
<link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet" />
<link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet" />
<link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet" />
<script src="{% static 'back/app-assets/vendors/js/vue-filepond.min.js' %}"></script>
<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'back/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<!-- END: Page Vendor JS-->
<script src="{% static 'back/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
<!-- BEGIN: VUE multiselect -->
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css"
/>
<!-- Required Stylesheets -->
<link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
/>

<!-- Required scripts -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<!-- END: VUE multiselect -->
<link
  type="text/css"
  rel="stylesheet"
  href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
/>
<!-- Axios CDN -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
  integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
  crossorigin="anonymous"
></script>
<!-- Load Vue followed by BootstrapVue, and BootstrapVueIcons -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<script type="text/javascript">
  Vue.component('vue-multiselect', window.VueMultiselect.default)
  var app = new Vue({
      el: '#app',
      data: {
          title: '',
          message: 'Hello!',
          positions:[
              {% for position in positions %}
              { id: {{position.id}},title:"{{position.title}}" },
              {% endfor %}
          ],
          form: {
              title: "",
              positions: [],
              fields: [
              {
                  title_uz: "",
                  title_ru: "",
                  title_en: "",
                  placeholder_uz: "",
                  placeholder_ru: "",
                  placeholder_en: "",
                  field_type: 1,
                  required: false,
                  toggle: false,
                  step: 2,
                  options: [
                  ]
              },
              {
                  title_uz: "",
                  title_ru: "",
                  title_en: "",
                  placeholder_uz: "",
                  placeholder_ru: "",
                  placeholder_en: "",
                  field_type: 1,
                  required: false,
                  toggle: false,
                  step: 3,
                  options: [
                  ]
              },
              {
                  title_uz: "",
                  title_ru: "",
                  title_en: "",
                  placeholder_uz: "",
                  placeholder_ru: "",
                  placeholder_en: "",
                  field_type: 1,
                  required: false,
                  toggle: false,
                  step: 4,
                  options: [
                  ]
              },
              ]
              },
      },
      methods: {
        checkForm (){
          const form = this.form
          form.positions = this.form.positions.map(item=> item.id)
          axios
          .put("{% url 'form-update-panel-api' object.id %}",
           form,{
            headers:{
              "content-type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}"
          }
        }
          )
          .then(response => (window.location.href = "{% url 'vacancy:form-list' %}"))
          .catch(error => (console.error(error)))
        }
      },
      mounted(){
        this.form.title = "{{object.title}}"
        this.form.positions = [
        {% for item in object.positions.all %}
        {
          "id":{{item.id}},
          "title":"{{item.title}}"
        },
        {% endfor %}
        ]
        this.form.fields = [
        {% for item in object.fields.all %}
        {
          "step":{{item.step}},
          "field_type":{{item.field_type}},
          "title_uz":"{{item.title_uz}}",
          "title_ru":"{{item.title_ru}}",
          "title_en":"{{item.title_en}}",
          "placeholder_uz":"{{item.placeholder_uz}}",
          "placeholder_ru":"{{item.placeholder_ru}}",
          "placeholder_en":"{{item.placeholder_en}}",
          "required":{{item.required|yesno:"true,false" }},
          "toggle":{{item.toggle|yesno:"true,false" }},
          "options":[
          {% for option in item.options.all %}
          {
            "title_uz":"{{option.title_uz}}",
            "title_ru":"{{option.title_ru}}",
            "title_en":"{{option.title_en}}",
          },
          {% endfor %}
          ]
        },
        {% endfor %}
        ]
        console.log(this.form.fields)
      },
      computed: {
          stringit() {
              return (args) => {
                  return JSON.stringify(args)
              }
          }
      },

  });
</script>

{% endblock %}
